body {
    background-image: url("../img/healthy-food-composition-with-alarm.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 19px;
    line-height: 2em;
}

button {
    background-color: #00cccc;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
}

.calculator-container {
    background-color: white;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 50%;
    max-width: 500px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator-container .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.calculator-container .row .col-lg-7 {
    text-align: center;
}

.calculator-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.calculator-container label::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #00cccc;
}

.calculator-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
}

.btn-calculate {
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
}

.calories-per-day {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
}

.tm-post-title {
    font-weight: bold;
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.calculator-container input[type="number"] {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
}

.tm-contact-form .form-group {
    display: flex;
}